<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>test</h1>
    <div>
        <a href="{% url 'kakao_login' %}">
            카카오 로그인
            {% url 'kakao_login' %}
        </a>
    </div>
    <div>
        <a href="{% url 'kakao_logout' %}">
            카카오 로그아웃
            {% url 'kakao_logout' %}
        </a>
    </div>
    <div>
        <a href="{% url 'kakao_refresh' %}">
            카카오 리프레쉬
            {% url 'kakao_refresh' %}
        </a>
    </div>
    <div>
        <a href="{% url 'friend_list' %}">
            친구 목록
            {% url 'friend_list' %}
        </a>
    </div>
    <div>
        <span>cookie list</span>
        <span id="cookie">nothing</span>
    </div>
</body>
<script>
    let cookie = decodeURIComponent(document.cookie).split(';');
    console.log(cookie)
    document.getElementById('cookie').innerText = cookie || 'not found';
</script>
</html>